<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Trainworld</title>
    {% load staticfiles %}
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="">
		<img src="/static/trainworld/image/train.png" width="100" height="29" alt="...">
	</a>
  	<div class="collapse navbar-collapse" id="navbar1">
		    	<img src="/static/trainworld/image/text.png" width="200" height="29" alt="...">
    	<ul class="navbar-nav mr-auto">
		    <li class="nav-item">
		    	<a class="nav-link" >Admin panel</a>
		    </li>
    	</ul>
    	<form class="form-inline my-2 my-lg-0">
    	</form>
  	</div>
</nav>
<body>
<div>
    <form id="f" method="post" action="add_port" align="center">
        {% csrf_token %}
        <a class="navbar navbar-light bg-light" >Добавление вокзала</a>
        <input type="text" class="form-control" name="city" placeholder="Город">
        <input type="text" class="form-control" name="name_port" placeholder="Название вокзала">
        <input type="text" class="form-control" name="status" placeholder="Статус">
        <input type="submit" href="trainworld/main.html" value="Добавить">
    </form>
    <form id="f" method="post" action="add_manager" align="center">
        {% csrf_token %}
        <a class="navbar navbar-light bg-light" >Добавление пользователя</a>
        <input type="text" class="form-control" name="login" placeholder="Логин">
        <input type="text" class="form-control" name="password" placeholder="Пароль">
        <input type="submit" href="trainworld/main.html" value="Добавить">
    </form>
</div>
</body>